@import 'react-pdf/dist/esm/Page/AnnotationLayer.css';
@import 'react-pdf/dist/esm/Page/TextLayer.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;

	height: 100%;
}

body {
	background-color: #232323;
}
